:root {
}

/* ===== BODY ===== */
body {
    display: grid;
    justify-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* ===== FORMULARIO ===== */
#itemForm {
    width: 90%;
    background-color: #f9ffdf;
    padding: 10px;
}


/* ===== BLOQUES PRINCIPALES DEL FORM ===== */
/*
    Corresponde a:

    <div>
        ...
    </div>

    Cada div principal representa una sección del formulario.
*/
#itemForm > div {
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
}




/* ===== INPUTS Y SELECTS ===== */
/*
    Corresponde a:
    
    <input>
    <select>
*/
#itemForm input,
#itemForm select {
    text-align: center;
    box-sizing: border-box;
    height: 40px;
    border: none;
    border-radius: 10px;
}


/* ===== CAMPOS DEL FORMULARIO ===== */
/*
    Corresponde a los inputs y selects que aparecen
    dentro de los bloques principales.

    Excluye los sliders (type="range").
*/
#itemForm input:not([type="range"]),
#itemForm select {
    flex: 1;
    min-width: 0;
}


/* ===== FILAS PRINCIPALES ===== */
/*
    Corresponde a cada <div> principal del formulario.

    Ejemplo:

    <div>
        <input>
        <input>
    </div>

    Hace que sus elementos se coloquen horizontalmente.
*/
#itemForm > div {
    display: flex;
    gap: 10px;
}


/* ===== DESCRIPCIÓN ===== */
/*
    Corresponde a:

    <input type="text" id="descripcion">
*/
#descripcion {
    width: 100%;
}


/* ===== COLUMNAS INTERNAS ===== */
/*
    Corresponde a los div que están dentro de otro div.

    Ejemplo:

    <div>
        <div>
            Categoría...
        </div>

        <div>
            Tiempo de Eclosión...
        </div>
    </div>

    Hace que cada bloque interno ocupe el mismo espacio.
*/
#itemForm > div > div {
    flex: 1;
    min-width: 0;
}


/* ===== SLIDERS ===== */
/*
    Corresponde a:

    <input type="range" id="categoria">
    <input type="range" id="eclosion">

    Hace que el slider ocupe el espacio disponible.
*/
#categoria,
#eclosion {
    flex: 1;
    width: 100%;
}


/* ===== TEXTO /min ===== */
/*
    Corresponde a:

    <span>/min</span>
*/
#itemForm span {
    display: flex;
    align-items: center;
}
